#tarjeta{
    width: 60%;
    height: auto;
    align-items: center;
    padding-top: 10%;
    top: 25%;
    margin-top: 50%;
    padding: 15px;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    position: relative;
    display: flex;
}
#tarjetaReporteAtencion{
    width: 90%;
    height: auto;
    align-items: center;
    padding-top: 10%;
    top: 25%;
    margin-top: 50%;
    padding: 15px;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    position: relative;
    display: flex;
}
#logo{
    width: 70px;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}
#NombreID{
    width: 50%;
    vertical-align: middle;
}
#CorreoID{
    width: 50%;
    vertical-align: middle;
}
#ContraseñaID{
    width: 50%;
    vertical-align: middle;
}
.textoNavegacion{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.form-label{
    display: inline-block;    
}
.Nombre label, .Nombre input{
    display: inline-block;
    vertical-align: middle;
}
.navbar-brand{
    display: flex;
    align-items: center;
}
.navbar-nav{
    display: flex;
    align-items: center;
}
.contenedor{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Altura mínima igual a la altura de la ventana */
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    padding-bottom: 2%;
}
main{
    flex: 1;
    padding-bottom: 2%;
}
footer{    
    text-align: center;
    color: black;
    width: 100%;
    bottom: 0;
    position: relative;
    background-color:#f8f9fa;
    padding-bottom: 1%;
    padding-top: 1%;
    align-items: center;
}
